HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.externalToolBuilders
.settings
.apt_generated
.project
.classpath
.factorypath

### VS Code ###
.vscode/

### Static generated resources ###
backend/src/main/resources/static/