HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Eclipse ###
.externalToolBuilders
.settings
.project
.classpath
.factorypath

### Static generated resources ###
backend/src/main/resources/static/