<mat-card class="w-100 h-100">
  <div class="mx-auto my-5 w-75">
    <mat-card-header class="mb-2">
      <mat-card-title>{{currentStatus.city}}</mat-card-title>
      <mat-card-subtitle>{{currentStatus.country}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="row justify-contenet-center align-items-center my-2">
        <div [ngClass]="weatherStatus?.getWeatherIcon()?.getIconClassName()"></div>
        <h1 class="col-auto mb-0">{{currentStatus.temperature}} °C</h1>
      </div>
      <mat-divider></mat-divider>
      <p class="mt-2">{{currentStatus.minTemp}} °C / {{currentStatus.maxTemp}} °C</p>
    </mat-card-content>
  </div>
</mat-card>
