<mat-card class="w-100 h-100">
  <div class="mx-auto my-5 w-75">
    <mat-card-content>
      <div class="mb-2">
        <span class=""><mat-icon class="blue-color">water_drop</mat-icon></span>
        <span class="">{{currentStatus.humidity}} %</span>
      </div>
      <mat-divider></mat-divider>
      <div class="my-2">
        <span class="">RealFeel </span>
        <span class="">{{currentStatus.realFeel}} °C</span>
      </div>
      <mat-divider></mat-divider>
      <div class="mt-2">
        <span class="">ChanceOfRain </span>
        <span class="">{{currentStatus.chanceOfRain}} %</span>
      </div>
    </mat-card-content>
  </div>
</mat-card>
