<mat-card class="example-card h-100">
  <div class="mx-auto my-5 w-75">
    <mat-card-content>
      <div class="">
        <span class=""><mat-icon>water_drop</mat-icon></span>
        <span class="">{{currentStatus.humidity}} %</span>
        <br>
        <span class="">RealFeel </span>
        <span class="">{{currentStatus.realFeel}} °C</span>
        <br>
        <span class="">ChanceOfRain </span>
        <span class="">{{currentStatus.chanceOfRain}} %</span>
      </div>
    </mat-card-content>
  </div>
</mat-card>
